{% extends 'base.html.twig' %}

{% block title %}Edit Villes{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center">Modifier ville</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                {{ form_start(form) }}
                {{ form_row(form.nomVille) }}
                {{ form_row(form.codePostal) }}
                <div class="d-flex justify-content-center">
                    {{ include('ajouter_villes/_form.html.twig', {'button_label': 'Modifier'}) }}
                    <a class="btn btn-outline-primary ms-2" href="{{ path('app_ajouter_villes_index') }}">Liste des villes</a>
                    {{ form_end(form) }}
                    {{ include('ajouter_villes/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
