{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block body %}
    <div class="container">
        <header>
            <h1>Sorties du fond</h1>
            <img src="https://media1.tenor.com/m/ja8IxnUdncsAAAAd/william-saliba-arsenal.gif" alt="Illustration" class="header-image">
        </header>

        <section class="filters">
            <div class="filter-group">

            </div>
            <p>Choisir une ville</p>
                <select>

                {% for ville in villes %}
                    <option>{{ ville.nomVille }}</option>

                {% endfor %}
                </select>
            <p>Le nom de la sortie contient : <input type="search" id="site_search" /></p>


                <label for="site_search">Nom de la sortie contient :</label>
                <input type="search" id="site_search" placeholder="Rechercher...">

                <label for="start-date">Date entre :</label>
                <input type="date" id="start-date" name="start-date">
                <label for="end-date">et</label>
                <input type="date" id="end-date" name="end-date">
            </div>

            <fieldset class="checkbox-group">
                <legend>Filtrer par :</legend>
                <div>
                    <input type="checkbox" id="organisateur" name="organisateur" checked>
                    <label for="organisateur">Sorties dont je suis l'organisateur/trice</label>
                </div>

                <div>
                    <input type="checkbox" id="inscrit" name="inscrit">
                    <label for="inscrit">Sorties auxquelles je suis inscrit/e</label>
                </div>

                <div>
                    <input type="checkbox" id="non_inscrit" name="non_inscrit">
                    <label for="non_inscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
                </div>

                <div>
                    <input type="checkbox" id="passe" name="passe">
                    <label for="passe">Sorties passées</label>
                </div>
            </fieldset>
            <button class="button">Rechercher</button>
        </section>

        <section class="sorties-list">
            <h2>Sorties</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date Début</th>
                    <th>Date Fin</th>
                    <th>Durée</th>
                    <th>Nb Max Inscriptions</th>
                    <th>Description</th>
                    <th>État</th>
                    <th>Photo</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateDebut ? sortie.dateDebut|date('d-m-Y H:i') : '' }}</td>
                        <td>{{ sortie.dateCloture ? sortie.dateCloture|date('d-m-Y H:i') : '' }}</td>
                        <td>{{ sortie.duree }}</td>
                        <td>{{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.descriptionInfos }}</td>
                        <td>{{ sortie.noEtat.libelle }}</td>
                        <td><img src="{{ sortie.urlPhoto }}" alt="Photo de {{ sortie.nom }}" class="sortie-photo"></td>
                        <td>
                            <a href="{{ path('app_sorties_show', {'id': sortie.id}) }}">Afficher</a> |
                            <a href="{{ path('app_sorties_edit', {'id': sortie.id}) }}">Éditer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Aucune sortie trouvée</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- Boutons placés en bas de page -->
        <div class="button-group-bottom">
            <a href="{{ path('app_lieux_new') }}" class="button">Ajouter un lieu</a>
            <a href="{{ path('app_sorties_new') }}" class="button">Créer une nouvelle sortie</a>
            <a href="{{ path('app_ajouter_villes_new') }}" class="button">Ajouter une ville</a>
        </div>
    </div>
{% endblock %}
