{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block body %}
    <div>
        <h1 class="text-center m-2">Sorties du fond</h1>
    </div>

    <div class="container">
        <div class="border border-2 border-opacity-25 border-dark rounded p-4 search-box">

            {{ form_start(searchForm) }}
            {{ form_row(searchForm.noLieu) }}
            {{ form_row(searchForm.nom) }}
            <div class="row">
                <div class="col d-flex align-items-center">
                    <label for="{{ searchForm.dateDebut.vars.id }}" class="me-2">Du </label>
                    {{ form_widget(searchForm.dateDebut, { 'attr': { 'class': 'form-control me-2' } }) }}
                    <label for="{{ searchForm.dateFin.vars.id }}" class="me-2"> au </label>
                    {{ form_widget(searchForm.dateFin, { 'attr': { 'class': 'form-control' } }) }}
                </div>
            </div>

            <div class="p-4">
                <h3>Plus de filtres</h3>
            </div>
            <div class="row">
                <div class="col">{{ form_row(searchForm.orga) }}</div>
                <div class="col">{{ form_row(searchForm.isInscrit) }}</div>
            </div>
            <div class="row">
                <div class="col">{{ form_row(searchForm.passee) }}</div>
                <div class="col">{{ form_row(searchForm.isNotInscrit) }}</div>
            </div>
            <div class="row text-center">
                {{ form_row(searchForm.Submit) }}
            </div>
            {{ form_end(searchForm) }}
        </div>

        <div class="container">
            <div class="row row-cols-1 row-cols-md-5 g-4 justify-content-center">
                {% for sortie in sorties %}
                    <div class="col">
                        <div class="card h-100 d-flex flex-column">
                            <div class="card-body d-flex flex-column">
                                <img class="mb-2 img-fluid card-img-top" src="{{ sortie.noLieu.noVille.urlPhotos }}" alt="Photo de la ville">
                                <h5 class="card-title">{{ sortie.nom }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ lieux[sortie.noLieu.id].nomLieu }}
                                    ({{ sortie.noLieu.noVille.nomVille }})</h6>
                                <p class="card-text">{{ sortie.descriptionInfos }}</p>
                                <p class="card-text">{{ sortie.dateDebut | date('d M Y') }}</p>
                                <a href="{{ path('app_sorties_show', {'id': sortie.id}) }}"
                                   class="btn btn-outline-info ms-2 mt-auto transition-button">Détails</a>
                                <a type="button" href="{{ path('app_sorties_inscription', {'id': sortie.id}) }}" class="signup-button btn btn-primary position-relative ms-2 mt-2 transition-button">
                                    S'inscrire<span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ sortie.inscriptions|length }}/{{ sortie.nbInscriptionsMax }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


        <!-- Boutons placés en bas de page -->
        <div class="d-flex justify-content-center">
            <a href="{{ path('app_sorties_new') }}" class="btn btn-outline-primary ms-2">Créer une nouvelle sortie</a>
            <a href="{{ path('app_ajouter_villes_new') }}" class="btn btn-outline-primary ms-2">Ajouter une ville</a>
            <a href="{{ path('app_lieux_new') }}" class="btn btn-outline-primary ms-2">Ajouter un lieu</a>
        </div>
    </div>
{% endblock %}
