{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block body %}
    <div class="container">
        <header>
            <h1>Sorties du fond</h1>

        </header>
        <div class="border border-2 border-dark rounded p-4">
            {{ form_start(searchForm) }}
            {{ form_row(searchForm.noLieu) }}
            {{ form_row(searchForm.nom) }}
            <div class="row">
                <div class="col">{{ form_row(searchForm.dateDebut) }}</div>
                <div class="col">{{ form_row(searchForm.dateFin) }}</div>
            </div>
            <h2>Plus de filtres</h2>
            <div class="row">
                <div class="col">{{ form_row(searchForm.orga) }}</div>
                <div class="col">{{ form_row(searchForm.isInscrit) }}</div>
            </div>
            <div class="row">
                <div class="col">{{ form_row(searchForm.isNotInscrit) }}</div>
                <div class="col">{{ form_row(searchForm.passee) }}</div>
            </div>
            <div class="row text-center">
                {{ form_row(searchForm.Submit) }}
            </div>
            {{ form_end(searchForm) }}
        </div>


        <section class="sorties-list">
            <h2>Sorties</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Ville</th>
                    <th>Date Début</th>

                    <th>Durée</th>
                    <th>Nb Max Inscriptions</th>
                    <th>Description</th>
                    <th>État</th>
                    <th>Photo</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.noLieu.noVille.nomVille }}</td>
                        <td>{{ sortie.dateDebut ? sortie.dateDebut|date('d-m-Y H:i') : '' }}</td>
                        {# {{ sortie.dateClotureInscription ? sortie.dateClotureInscription|date('d-m-Y H:i') : '' }} #}
                        <td>{{ sortie.duree }}</td>
                        <td>{{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.descriptionInfos }}</td>
                        <td>{{ sortie.noEtat.libelle }}</td>
                        <td><img src="{{ sortie.urlPhoto }}" alt="Photo de {{ sortie.nom }}" class="sortie-photo"></td>
                        <td>
                            <a href="{{ path('app_sorties_show', {'id': sortie.id}) }}">Afficher</a> |
                            <a href="{{ path('app_sorties_edit', {'id': sortie.id}) }}">Éditer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Aucune sortie trouvée</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- Boutons placés en bas de page -->
        <div class="d-flex justify-content-center">
            <a href="{{ path('app_lieux_new') }}" class="btn btn-primary ms-2">Ajouter un lieu</a>
            <a href="{{ path('app_sorties_new') }}" class="btn btn-primary ms-2">Créer une nouvelle sortie</a>
            <a href="{{ path('app_ajouter_villes_new') }}" class="btn btn-primary ms-2">Ajouter une ville</a>
            <a href="{{ path('app_groupe_prive_new') }}" class="btn btn-primary ms-2">Créer un nouveau groupe</a>
        </div>
    </div>
{% endblock %}
