{% extends 'base.html.twig' %}

{% block title %}Sorties index{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center">Liste des sorties</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Début</th>
                        <th>Durée</th>
                        <th>Inscriptions</th>
                        <th>Lieu</th>
                        <th>Organisateur</th>
                        <th>Détails</th><th>Modifier</th><th>Supprimer</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    {% for sortie in sorties %}
                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateDebut ? sortie.dateDebut|date('d-m-Y H:i') : '' }}</td>
                            <td>{{ sortie.duree }}</td>
                            <td>{{ cpt[sortie.id] }}/{{ sortie.nbInscriptionsMax }}</td>
                            <td>{{ sortie.noLieu.nomLieu }} - {{ sortie.noLieu.noVille.nomVille }}</td>
                            <td>{{ sortie.noParticipant.pseudo }}</td>
                            <td>
                                <a href="{{ path('app_sorties_show', {'id': sortie.id}) }}" class="btn btn-primary">Détails</a>
                            </td>
                            <td>
                                <a href="{{ path('app_sorties_edit', {'id': sortie.id}) }}" class="btn btn-primary">Modifier</a>
                            </td>
                            <td>
                                {{ include('sorties/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <a href="{{ path('app_sorties_new') }}" class="btn btn-primary">Nouvelle sortie</a>

    </div>
{% endblock %}
