{% extends 'base.html.twig' %}

{% block title %}Sorties index{% endblock %}

{% block body %}
    <h1>Sorties index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date Debut</th>
                <th>Date Fin</th>
                <th>Durée</th>
                <th>NbInscriptionsMax</th>
                <th>DescriptionInfos</th>
                <th>EtatSortie</th>
                <th>UrlPhoto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateDebut ? sortie.dateDebut|date('d-m-Y H:i') : '' }}</td>
                <td>{{ sortie.dateCloture ? sortie.dateCloture|date('d-m-Y H:i') : '' }}</td>
                <td>{{ sortie.duree }}</td>
                <td>{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.descriptionInfos }}</td>
                <td>{{ sortie.noEtat.libelle }}</td>
                <td>{{ sortie.urlPhoto }}</td>
                <td>
                    <a href="{{ path('app_sorties_show', {'id': sortie.id}) }}">show</a>
                    <a href="{{ path('app_sorties_edit', {'id': sortie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sorties_new') }}">Create new</a>
{% endblock %}
