{% extends 'base.html.twig' %}

{% block title %}Liste des Sorties{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center">Liste des sorties</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Début</th>
                        <th>Durée</th>
                        <th>Inscriptions</th>
                        <th>Lieu</th>
                        <th>Organisateur</th>
                        <th>Détails</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sortie in sorties %}
                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateDebut ? sortie.dateDebut|date('d-m-Y H:i') : '' }}</td>
                            <td>{{ sortie.duree }}</td>
                            <td>{{ cpt[sortie.id] }}/{{ sortie.nbInscriptionsMax }}</td>
                            <td>{{ sortie.noLieu.nomLieu }} - {{ sortie.noLieu.noVille.nomVille }}</td>
                            <td>{{ sortie.noParticipant.pseudo }}</td>
                            <td>
                                <a href="{{ path('app_sorties_show', {'id': sortie.id}) }}" class="btn btn-primary">Détails</a>
                            </td>
                            <td>
                                <a href="{{ path('app_sorties_edit', {'id': sortie.id}) }}" class="btn btn-primary">Modifier</a>
                            </td>
                            <td>
                                {{ include('sorties/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">Aucune sortie trouvée</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Pagination -->
        <div class="d-flex justify-content-center mt-4">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if currentPage > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('app_sorties_index', { 'page': currentPage - 1 }) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for page in 1..totalPages %}
                        <li class="page-item {{ page == currentPage ? 'active' : '' }}">
                            <a class="page-link" href="{{ path('app_sorties_index', { 'page': page }) }}">{{ page }}</a>
                        </li>
                    {% endfor %}

                    {% if currentPage < totalPages %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('app_sorties_index', { 'page': currentPage + 1 }) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-4">
        <a href="{{ path('app_sorties_new') }}" class="btn btn-primary">Nouvelle sortie</a>
    </div>
{% endblock %}
