{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center">Sorties</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ sortie.nom }}</td>
                    </tr>
                    <tr>
                        <th>Organisateur</th>
                        <td>{{ sortie.noParticipant.nom }} {{ sortie.noParticipant.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Date de Début</th>
                        <td>{{ sortie.dateDebut ? sortie.dateDebut|date('d-m-Y H:i') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Date de Fin</th>
                        <td>{{ sortie.dateFin ? sortie.dateFin|date('d-m-Y H:i') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Durée (minutes)</th>
                        <td>{{ sortie.duree }}</td>
                    </tr>
                    <tr>
                        <th>Nombre d'inscrits</th>
                        <td>{{ cpt }}/{{ sortie.nbInscriptionsMax }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ sortie.descriptionInfos }}</td>
                    </tr>

                    <tr>
                        <th>État de la Sortie</th>
                        <td>{{ sortie.noEtat.libelle }}</td>
                    </tr>
                    {% if sortie.motifAnnulation %}
                    <tr>
                        <th>Motif annulation :</th>
                        <td>{{ sortie.motifAnnulation }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Photo</th>
                        <td>
                            {% if sortie.urlPhoto %}
                                <img src="{{ sortie.urlPhoto }}" alt="Photo de la sortie" class="img-fluid"/>
                            {% else %}
                                Aucune photo disponible.
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Date limite d'inscription</th>
                        <td>{{ sortie.dateClotureInscription ? sortie.dateClotureInscription|date('d-m-Y H:i') : '' }}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="d-flex justify-content-center">
                    {% if sortie.noEtat.id == 1 %}
                        <a href="{{ path('app_sorties_publication', {'id': sortie.id} ) }}"
                           class="btn btn-success ms-2">Publier</a>
                    {% endif %}


                </div>

                <h2>Liste des participants</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Nom</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if inscriptions is not empty %}
                        {% for inscription in inscriptions %}
                            <tr>
                                <td>
                                    <a href="{{ path('app_participant_show', {'id': inscription.noParticipant.id}) }}" style="text-decoration: none; color: inherit;">
                                        {{ inscription.noParticipant.pseudo }}
                                    </a>
                                </td>
                                <td>{{ inscription.noParticipant.nom }}</td>
                            </tr>


                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="2">Aucun participant</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
    {% include 'cartes/_carte.html.twig' with {'latitude' : sortie.noLieu.latitude, 'longitude' : sortie.noLieu.longitude} %}
        </div></div></div>

    <div class="d-flex justify-content-center mt-4">

        {% if sortie.noEtat.id != 5 %}

            {% if isInscrit and sortie.noEtat.id in [2, 3] %}
                <a href="{{ path('app_sorties_desinscription', {'id': sortie.id}) }}" class="btn btn-danger ms-2">Se désinscrire</a>
            {% elseif not isInscrit and sortie.noEtat.id == 2
                and sortie.dateClotureInscription > 'now'|date('Y-m-d H:i:s')
                and cpt < sortie.nbInscriptionsMax %}
                <a href="{{ path('app_sorties_inscription', {'id': sortie.id}) }}" class="btn btn-primary ms-2">S'inscrire</a>
            {% endif %}

            {% if user.getId() == sortie.noParticipant.getId() %}
                <a href="{{ path('app_sorties_edit', {'id': sortie.id}) }}" class="btn btn-success ms-2">Modifier</a>
            {% endif %}

            {% if user.isAdministrateur() %}
                {{ include('sorties/_delete_form.html.twig') }}
            {% endif %}

            {% if user.isAdministrateur() or user.getId() == sortie.noParticipant.getId() %}
                <a href="{{ path('app_sorties_annuler', {'id': sortie.id}) }}" class="btn btn-warning ms-2">Annuler la sortie</a>
            {% endif %}

        {% endif %}

        <a href="{{ path('app_home') }}" class="btn btn-primary ms-2">Revenir a l'accueil</a>

    </div>
{% endblock %}
