{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center mt-4">Ajouter des participants au groupe privé</h1>

    {{ form_start(form) }}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="checkbox-grid">
                {% for child in form.participants %}
                    <div class="checkbox-item">
                        {{ form_widget(child) }}
                        {{ form_label(child) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        {{ form_row(form.submit) }}
        <a href="{{ path('app_groupe_prive_index') }}" class="btn btn-secondary">Retour</a>
    </div>

    {{ form_end(form) }}




{% endblock %}
