{% extends 'base.html.twig' %}

{% block title %}Groupes Prives{% endblock %}

{% block body %}
    <h1>Groupes Prives</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe_prive in groupe_prives %}
            <tr>

                <td>{{ groupe_prive.label }}</td>
                <td>
                    <a class="btn btn-success ms-2" href="{{ path('app_groupe_prive_show', {'id': groupe_prive.id}) }}">Détails</a>
                    <a class="btn btn-success ms-2" href="{{ path('app_groupe_prive_edit', {'id': groupe_prive.id}) }}">Modifier</a>
                    <a class="btn btn-success ms-2" href="{{ path('app_groupe_prive_addParticipants', {'id': groupe_prive.id}) }}">Ajouter des Participants</a>
                    <a class="btn btn-danger ms-2" href="{{ path('app_groupe_prive_deleteParticipants', {'id': groupe_prive.id}) }}">Supprimer des Participants</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  class="btn btn-success ms-2" href="{{ path('app_groupe_prive_new') }}">Create new</a>
{% endblock %}
