{% extends 'base.html.twig' %}

{% block title %}Lieux{% endblock %}

{% block body %}
    <h1>Lieux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lieux.id }}</td>
            </tr>
            <tr>
                <th>NomLieu</th>
                <td>{{ lieux.nomLieu }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ lieux.rue }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ lieux.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ lieux.longitude }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_lieux_index') }}">back to list</a>

    <a href="{{ path('app_lieux_edit', {'id': lieux.id}) }}">edit</a>

    {{ include('lieux/_delete_form.html.twig') }}
{% endblock %}
