{% extends 'base.html.twig' %}

{% block title %}Lieux{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center">Lieu</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Nom du lieu</th>
                        <td>{{ lieux.nomLieu }}</td>
                    </tr>
                    <tr>
                        <th>Rue</th>
                        <td>{{ lieux.rue }}</td>
                    </tr>
                    <tr>
                        <th>Latitude</th>
                        <td>{{ lieux.latitude }}</td>
                    </tr>
                    <tr>
                        <th>Longitude</th>
                        <td>{{ lieux.longitude }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<div class="d-flex justify-content-center">
    <a class="btn btn-primary ms-2" href="{{ path('app_lieux_index') }}">Liste des lieux</a>
    <a class="btn btn-primary ms-2" href="{{ path('app_lieux_edit', {'id': lieux.id}) }}">Modifier</a>
</div>

{% endblock %}
